
/*Isso meche no meio do painel */
#painel{
    position: absolute;
    left: 19%;
    right: auto;
    
}
h1{
    color: rgb(249, 113, 1);
}
h6{
    
    color:#0284C7 ;    /*Cor da fonte*/
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

.sidenav a {
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidenav a:hover {
    background-color: deepskyblue;
}
