body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, cyan, yellow);
}
#central{
    background-color: rgba(59, 57, 57, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    border-radius: 15px;
    color: #fff;
}
input{
    align-content: center;
    padding: 15px;
    border-radius: 10px ;
    width: 85%;
    border: none;
    outline: none;
    font-size: 15px;
}
button{
    background-color: rgb(224, 182, 42);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    text-align: center;
   
    
}
button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}
h1{
    text-align: center;
}
h2{
    text-align: center; 
}



